.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  pointer-events: none;
}

.LD-logo {
  padding: 5px;
  max-width: 100%;
}

.heart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.customer-logo {
  padding: 5px;
  max-width: 95%;
  max-height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #000000;
  padding: 7px;
  background-color: #FFFFFF;
}


.toggle-logo {
  height: 400px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-page {
  background-color: #000000;
}

.black-header {
  background-color: #000000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: rgb(0, 0, 0);
}

.gray-app-header {
  background-color: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.purple-app-header {
  background-color: #9a31b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blue-app-header {
  background-color: #1800b7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.red-app-header {
  background-color: #840000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.qr-wrapper {
  border-radius: 15px;
  border: 2px solid #000000;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
